.wrapper {
    /* display: flex;
    flex-direction: row; */
    border: 1px solid;

    background: lightcyan;
    margin: auto 5%;
    padding: 6rem 1rem;

}


.box {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  border: 1px solid pink;
  width: 30%;
}

img {
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0px 0px 16px -6px rgb(0 0 0 / 60%);
}


/* サンプル */
.container {
    display: flex;
    margin: auto 5%;
    /* border: 1px solid; */
    padding: 6rem 1rem;
    justify-content: space-around;
    text-align: center;
    background: lightcyan;
}

.content {
    /* border: 1px solid pink; */
    background: white;
    border-radius: 5%;
    padding: 2rem;
    box-shadow: 0px 0px 16px -6px rgb(0 0 0 / 40%);
}
.content>p {
    display: block;
}